.form-contact {
  display: flex;
  flex-direction: column;
 
}

.input-contact {
  margin-bottom: 20px;
}

.input-button {
    margin-bottom: 30px;
    background-color: #d89e1a;
    border: none;
    width: 20px;
}

.last_input {
    max-width: 100px;
    height: 40px;
    font-weight: 700;
}

input {
  width: 305px;
  height: 25px;
  
  
}

textarea {
  width: 305px;
}

.last_input {
    width: 310px;
}

label {
    color: whitesmoke;
    font-weight: 700;
}

.Heading_quote {
    color: whitesmoke;
    text-align: center;

}

.result-msg {
    color: red;
}

